.versionCard{
    min-width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    
}

.versionCard:hover{
    transform: scale(1.05);
}

.versionContent {
    margin: 10px;
}

.versionTag {
    font-weight: bold;
    font-size: 1.2em;
}

.versionSeperator {
    width: 50%;
    height: 1px;
    background-color: white;
    padding: 0;
    margin: 5px auto; 
}
